header{
    padding: 15px;
    display: flex;
    flex-direction: row;
}
.logo{
    text-align: left;
    width: 50%;
}
.menu{
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 50%;
}
a{
    text-decoration: none;
}
ul, li{
    justify-content: space-between; 
    list-style: none;
    justify-content: space-around;
}
main{
    padding: 15px;
    text-align: center;
}
h2, p, ol{
    text-align: left;
}
ol>li{
    list-style: decimal;
}
form{
    text-align: left;
    padding: 15px;
}
